.main-header {
  background-color: @color-primary-0;
}

.l-thing-entry {
  background-color: @color-primary-1;
}

.l-thing-cloud {
  background-color: @color-secondary-1-0;
}

.l-thing-list {
  background-color: @color-secondary-2-0;
}
